# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs

# other
eclipse
run
run-data
.vscode
runs

repo
.DS_Store
src/generated/resources/.cache